@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
	margin: 0;
	padding: 0;
	font-family: 'Nunito', sans-serif; 
}
.main{	
	width: 90%;   
    margin: 0 auto;
    padding-bottom: 40px;
    min-height: 100vh;
    overflow: auto;
}
.main-button{	
	float: left;
    width: 17%;
    height: 200px;
    border-radius: 5%;
    border:2px #EC0000 solid;
    margin:50px 0 0 12.25% ;
    background-color: #FF962D;
    text-align: center;
    font-size: 23px;
    color: white;
    cursor: pointer;
}
.main-button:hover{
	color: #EC0000;	
}
.main-button img{
	width: 70px;
	border-radius: 100%;
	border:2px #EC0000 solid;
	margin: 35px 0 20px 0;		
}
header{
	height: 100px;
	background-color: #FF962D;	
}
footer{	
	height: 50px;
    background-color: #FF962D;
    color: white;
    line-height: 50px;
    text-align: center;    
    margin-top: 50px;
}
.logo{
	float: left;
	width: 10%;			
}
.logo img{
	margin: 14px 0 0 40px;
	width: 70px;
}
header img{	
    border-radius: 100%;
}
.header-cont{
	float: left;
	width: 81%; 
	text-align: center;   
}
.header-link{
	text-decoration: none;
	font-size: 25px;
    color: white; 
    padding-top: 10px;
}
.header-link:active{
	color: #EC0000;
	opacity: 0.8;	
}
.header-button{
	float: left;
	width: 33.33333%;	
	height: 90px;
	padding-top: 10px;		
}
.header-button:hover{
	background-color: #FFAA5A;	
}
.header-button img{
	width: 40px;
	height: 40px;		
}
i{	
	position: fixed;
    right: 80px;
    bottom: 60px;
    border-radius: 100%;
    border: 2px #FF962D solid;
    width: 30px;
    text-align: center;
    padding-top: 8px;
    height: 22px;
    color: #FF962D;
}
i:hover{
	color: #EC0000;
	border-color: #EC0000;
}
.bg-1 {
    width: 156px; height: 155px;
    background: url('img/css_sprites.png') -828px -477px;
}
@media screen and (max-width: 800px){
	.main{
		min-height: 545vh;
	}
	.main-button{
		width: 25%;
		margin: 30px 0 0 6.25%;
	}
	.header-button img {
    	width: 50px;  
    }
    .header-cont{		
		width: 83%; 	
	}
    .header-button img {
   		width: 40px;
   		height: 40px;
	}
   .logo img {
    	margin: 20px 0 0 10px;
    	width: 50px;
    }
    i{	
	   right: 9px;
       bottom: 55px;
	}
}
