@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
	margin: 0;
	padding: 0;
	font-family: 'Nunito', sans-serif; 
}
html,
body{  
	/*нет, просто нет :D , убирай*/
    height: 185%;
}
/* этот див избыточен, он не нужен, убираем*/
.page{	
	min-height: 100%;
}
.main{
	width: 90%;
	/* краткая запись устаналивает отступы в следующем порядке верх, право, низ, лево,
	зачем здесь отступ в 5 процентов только слева? ответ сюда в коммент плз*/
	margin: 0 0 0 5%;	
	padding-bottom: 40px;
}
.main div{	
	float: left;
    width: 17%;
    height: 200px;
    border-radius: 5%;
    border:2px #EC0000 solid;
    margin:50px 0 0 12.25% ;
    background-color: #FF962D;
    text-align: center;
    font-size: 23px;
    color: white;
    cursor: pointer;
}
.main div:hover{
	color: #EC0000;	
}
.main div img{
	width: 70px;
	border-radius: 100%;
	border:2px #EC0000 solid;
	margin: 35px 0 20px 0;		
}

header{
	height: 100px;
	background-color: #FF962D;	
}
footer{
	height: 40px;
    background-color: #FF962D;
	color: white;
	text-align: center;
	/* эта конструкция тоже не совсем ясна )*/
	padding-top: 20px;
	margin-top: -40px;
}
.logo{
	float: left;
	width: 10%;			
}
.logo img{
	margin: 14px 0 0 40px;
	width: 70px;
}
header div img{	
    border-radius: 100%;
}
.header_d{
	float: left;
	width: 90%; 
	text-align: center;   
}
.header_d a{
	text-decoration: none;
	font-size: 25px;
    color: white; 
    padding-top: 10px;
}
.header_d a:active{
	color: #EC0000;
	opacity: 0.8;
	/* зачем установлено margin-top для псевдокласса?*/
	margin-top: 0;	
}
.header_d div{
	float: left;
	width: 33.33333%;	
	height: 90px;
	padding-top: 10px;		
}
.header_d div:hover{
	background-color: #FFAA5A;	
}
.header_d div img{
	width: 40px;
	height: 40px;		
}

/* почему вместо класса здесь id? оно работает, согласен, но зачем?)*/
#back{	
	background-color: white;
    position: absolute;

    /*зачем задавать отступ слева в процентах, если можно явным образом проставть отступ справа в пикселях? 
    к примеру, пусть отступает справа на 50 px, а от нижнего края страницы на 200*/
    left: 80%;
    border-radius: 100%;
    border:2px grey solid;
    width: 35px;
    padding-top: 4px;    
    height: 31px;
}

/*и эта конструкция мне не совсем ясна, что она делает? ответь тут же в комменте плз*/
#back i{
	color: grey;
}
#back:hover{
    color: grey;
}

@media screen and (max-width: 800px){
	html,
	body{  
		/*то же самое, нет, что-то тут явно не так)*/
   		height: 250%;


	}
	.main div{
		width: 25%;
		margin: 30px 0 0 6.25%;
	}
	header div img {
    	width: 50px;  
    }
    .header_d div img {
   		width: 40px;
   		height: 40px;
	}
   .logo img {
    	margin: 20px 0 0 10px;
    	width: 50px;
    }
    #back{	
    	/*то же самое, зачем проценты? */
	    left: 86%;
	}
}
