header{
	height: 100px;
	background-color: $maincolor;
	display: flex;	

	.logo{

		flex: 1;	

		[class|="bg"]{
			background-image: url('../img/css_sprites.png');
			transform: scale(0.5);
    		margin: 0 auto 0;
    		border-radius: 100%;
		}

		&:hover{
        	transform: rotate(180deg);
		}		
	}
	
	.header-cont{

		display: flex;
    	justify-content: space-around;

    	//зачем тут отступ?
        margin-right: 6%;
    	text-align: center;
    	flex: 11;   	

    	.header-button{				
			height: 90px;
			padding-top: 10px;
			transition: .2s;
			background-color:red;
			&:hover{
				background-color: #FF9F44;	
			}

			&:active, &:focus{
				background-color: #FFA958;	
			}
			//зачем здесь псевдоклассы? ширина твоих вкладок должна быть одинаковой
			&:nth-child(2){
    			margin: 0 25px 0 40px;
    			width: 180px;
    		} 

    		&:nth-child(3){    			
    			width: 140px;
    		}

			[class|="bg"]{
				background-image: url('../img/css_sprites.png');
				transform: scale(0.35);
   				margin: -25px auto -25px;
   				border-radius: 100%;
			}		

			.header-link{
				text-decoration: none;
				font-size: 25px;
    			color: white; 
    			padding-top: 10px;    			
			}	
		}	
	}	
}







