header{
	height: 100px;
	background-color: $maincolor;	

	.logo{
		float: left;
		width: 7%;	

		[class|="bg"]{
			background-image: url('../img/css_sprites.png');
			transform: scale(0.6);
    		margin: 0 auto 0;
    		border-radius: 100%;
		}

		&:hover{
        	transform: rotate(180deg);
		}		
	}
	
	.header-cont{
		float: left;
   		width: 86%;
    	text-align: center; 

    	.header-button{
			float: left;
			width: 33.33333%;	
			height: 90px;
			padding-top: 10px;

			&:hover{
				background-color: #FFAA5A;	
			}

		[class|="bg"]{
			background-image: url('../img/css_sprites.png');
			transform: scale(0.4);
   			margin: -25px auto -25px;
   			border-radius: 100%;
		}		

			.header-link{
				text-decoration: none;
				font-size: 25px;
    			color: white; 
    			padding-top: 10px;

    			&:active{
					color: $red;
					opacity: 0.8;	
				}
			}	
		}	
	}	
}







