@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import 'sprite.css';
@import 'variables';
@import 'arrow';
@import 'header';
@import 'main';
@import 'footer';
*{
	margin: 0;
	padding: 0;
	font-family: 'Nunito', sans-serif; 
}
@media screen and (max-width: 800px){
	.main{		
		.main-button{
			width: 25%;
			margin: 30px 0 0 6.25%;
		}
	}
	header{		
    	.header-cont{		
			width: 81%;
    		margin-left: 3%;
		} 
	}	   
    .arrow-down{	
	   right: 9px;
       bottom: 55px;
	}
}