@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import 'sprite.css';
@import 'variables';
@import 'arrow';
@import 'header';
@import 'main';
@import 'footer';
*{
	margin: 0;
	padding: 0;
	font-family: 'Nunito', sans-serif; 
}
@media screen and (max-width: 800px){
	.main{
		.button-cont{	
			.main-button{
				width: 160px;
			}
		}					
	}

    .arrow-down{	
	   right: 9px;
       bottom: 55px;
	}
	
    header{
		.logo{
			width: 80px;			
		}

		.header-cont{
			margin-right: 8%;
		}
	}	
}