.main{	
	width: 90%;   
    margin: 0 auto;
    padding-bottom: 40px;
    min-height: calc(100vh - 240px);
    overflow: auto;

    .main-button{	
        float: left;
        width: 17%;
        height: 200px;
        border-radius: 5%;
        box-sizing: border-box;
        border: 2px $red solid;
        margin: 50px 8% 0 8%;
        background-color: $maincolor;
        text-align: center;
        font-size: 23px;
        color: white;
        cursor: pointer;

        &:hover{   
            color: #EC0000; 
        }           
    }
}