.bg-1 {
    width: 150px; height: 150px;
    background: url('D:/Work/img/css_sprites.png') -156px -1px;
    transform: scale(0.5);
    margin: 0 auto -20px;
    border-radius: 100%;
    border: 3px #EC0000 solid;
}
.bg-2 {
    width: 153px; height: 150px;
    background: url('D:/Work/img/css_sprites.png') -1px -1px;
    transform: scale(0.5);
    margin: 0 auto -20px;
    border-radius: 100%;
    border: 3px #EC0000 solid;
}
.bg-3 {
    width: 150px; height: 150px;
    background: url('D:/Work/img/css_sprites.png') -1px -153px;
    transform: scale(0.5);
    margin: 0 auto -20px;
    border-radius: 100%;
    border: 3px #EC0000 solid;
}
.bg-4 {
    width: 150px; height: 150px;
    background: url('D:/Work/img/css_sprites.png') -153px -153px;
    transform: scale(0.5);
    margin: 0 auto -20px;
    border-radius: 100%;
    border: 3px #EC0000 solid;
}
.bg-5 {
    width: 150px; height: 150px;
    background: url('D:/Work/img/css_sprites.png') -308px -1px;
    transform: scale(0.5);
    margin: 0 auto -20px;
    border-radius: 100%;
    border: 3px #EC0000 solid;
}
.bg-6 {
    width: 150px; height: 150px;
    background: url('D:/Work/img/css_sprites.png') -308px -153px;
    transform: scale(0.5);
    margin: 0 auto -20px;
    border-radius: 100%;
    border: 3px #EC0000 solid;
}
.bg-7 {
    width: 150px; height: 150px;
    background: url('D:/Work/img/css_sprites.png') -1px -305px;
    transform: scale(0.5);
    margin: 0 auto -20px;
    border-radius: 100%;
    border: 3px #EC0000 solid;
}
.bg-8 {
    width: 150px; height: 150px;
    background: url('D:/Work/img/css_sprites.png') -153px -305px;
    transform: scale(0.5);
    margin: 0 auto -20px;
    border-radius: 100%;
    border: 3px #EC0000 solid;
}
.bg-9 {
    width: 150px; height: 150px;
    background: url('D:/Work/img/css_sprites.png') -305px -305px;
    transform: scale(0.5);
    margin: 0 auto -20px;
    border-radius: 100%;
    border: 3px #EC0000 solid;
}
.bg-10 {
    width: 100px; height: 100px;
    background: url('D:/Work/img/css_sprites.png') -460px -1px;
    transform: scale(0.6);
    margin: 0 auto 0;
    border-radius: 100%;
}
.bg-logo1 {
    width: 100px; height: 100px;
    background: url('D:/Work/img/css_sprites.png') -460px -103px;
    transform: scale(0.4);
    margin: -25px auto -25px;
    border-radius: 100%;
}
.bg-logo2 {
    width: 100px; height: 100px;
    background: url('D:/Work/img/css_sprites.png') -460px -205px;
    transform: scale(0.4);
    margin: -25px auto -25px;
    border-radius: 100%;
}
.bg-logo3 {
    width: 100px; height: 100px;
    background: url('D:/Work/img/css_sprites.png') -460px -307px;
    transform: scale(0.4);
    margin: -25px auto -25px;
    border-radius: 100%;
}
@media screen and (max-width: 800px){
    .bg-10{
        transform: scale(0.5);
        margin: 0 0 0 -15px;
    }